<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Keylogger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>491992B41BC2B5CE00191070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494E8A4D1BC41EF0005E1C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494E8A621BC41EF0005E1C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494E8A6D1BC41EF1005E1C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
