td, th, p, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

td, th, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

div.main_cont {
  margin: 0px auto;
  margin-top: 100px;
  width: 50%;
}

div.table_cont {
  margin-top: 50px;
  display: none;
}

div.col {
  width: 50%;
  float: left;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px 20px;
}

table tr:nth-child(even) {
  background-color: #e0e0e0;
}

form input[type="text"] {
  width: 70%;
  font-size: 14px;
}

form input[type="button"] {
  width: 20%;
  font-size: 14px;
}
